nav{
    background-color: #323441;
    position: absolute;
    top: 0px;
    right: 0px;
    resize: horizontal;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    font-weight: bold;
    font-family: 'Times New Roman';
    box-shadow: currentColor;
    border-bottom:solid 1px seashell;
    justify-content: space-around;
    align-items: center;
}

img.logo{
    flex-direction: row;
    height: 90%;
    padding: 5px 5px 5px 20px;
}

a{
    color: antiquewhite;
    text-decoration: none;
    margin: 0% 1vw 0% 1vw;
}

a:hover{
    color:aqua;
    background-color: darkslategray;
    border: solid 2px cyan;
    border-radius: 5px 5px 5px 5px;
}

.Nav{
    color: darkgrey;
    margin-left: 15vw;
    border-right: solid 4px whitesmoke;
    padding-right: 1%;
}
body{
    background-color: #323441;
    align-items: center;
    resize: horizontal;
    display: flex;
    justify-content: center;
}

section{
    position: absolute;
    display: flex;
    border: solid 18px #669900;
    border-radius: 15%;
    width: 40%;
    height: 60%;
    top: 10%;
    justify-content: center;
    backdrop-filter: blur(3px);
    padding: 40px 40px 40px 40px;
    size: auto;
    background-image: url(/Fondos/Examenes.jpeg);
    background-size: cover;
}